<template>
<div class="child">
    <label>Name</label>
    <input type="text" v-model="name" @change="commitChanges">
    <br>
    <label>E-mail</label>
    <input type="text" v-model="email" @change="commitChanges">
</div>
</template>

<script>
import { deepCopy } from 'deep-utils';

export default {
    name: 'Child3',

    props: {
        value: Object
    },

    data() {
        if (this.source)
            return deepCopy(this.source);

        return {
            name: '',
            email: ''
        };
    },

    methods: {
        commitChanges() {
            this.$emit('input', { name: this.name, email: this.email });
        }
    }
};
</script>
