<template>
<div class="child">
    <label>ID</label>
    <input type="number" v-model="id">
    <br>
    <label>Name</label>
    <input type="text" v-model="name">
    <br>
</div>
</template>

<script>
import { deepCopy } from 'deep-utils';

export default {
    name: 'Child',

    props: {
        source: Object,
        commit: Function
    },

    data() {
        if (this.source)
            return deepCopy(this.source);

        return {
            id: 0,
            name: ''
        };
    },

    watch: {
        id(val) {
            this.commitChanges()
        },

        name(val) {
            this.commitChanges()
        }
    },

    methods: {
        commitChanges() {
            this.commit.call(this.$parent, { id: this.id, name: this.name });
        }
    }
};
</script>