<template>
<div class="child">
    <label>Name</label>
    <input type="text" v-model="name">
    <br>
    <label>E-mail</label>
    <input type="text" v-model="email">
</div>
</template>

<script>
import { deepCopy } from 'deep-utils';

export default {
    name: 'Child',

    props: {
        source: Object
    },

    data() {
        if (this.source)
            return deepCopy(this.source);

        return {
            name: '',
            email: ''
        };
    },

    watch: {
        name(val) {
            this.commitChanges()
        },

        email(val) {
            this.commitChanges()
        }
    },

    methods: {
        commitChanges() {
            this.$emit('applyChild', { name: this.name, email: this.email });
        }
    }
};
</script>