<template>
<div class="parent">
    <p>
    <Child :source="obj.child" v-on:applyChild="applyChild" />
    </p>
    <p>
    <Child2 :source="obj.child2" :commit="applyChild2"/>
    </p>
    <p>
    <Child3 v-model="obj.child3" />
    </p>
    <p>
        <pre>{{ obj }}</pre>
    </p>
</div>
</template>

<script>
import Child from './Child.vue';
import Child2 from './Child2.vue';
import Child3 from './Child3.vue';

export default {
    name: 'Parent',

    components: {
        Child,
        Child2,
        Child3
    },

    data() {
        return {
            obj: {
                child: null,
                child2: {
                    id: 24,
                    name: 'Somebody'
                },
                child3: null
            }
        };
    },

    methods: {
        applyChild2(child) {
            this.obj.child2 = child;
        },

        applyChild(child) {
            this.obj.child = child;
        }
    }
};
</script>